
nav { 
    color: black;
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/*adapted from https://designmodo.com/create-css3-mega-menu/*/

.gnav {
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-left: 0%;
    width: 100%;
    cursor: default;
    justify-content: center;
    z-index: 500;
    background-color: darkgreen;
    align-content: center;
}

/*this controls the order of nav bar list items*/
.gnav > li {
    display: table;
    float: center; /*this appears to control where the dropdown starts from but not when its a table item?*/
    width: 10px; /* dont know what exactly this did, but it appears to have more or less centered the nav bar the way I want it*/
}

/*this controls the look of the nav bar text*/
.gnav > li > a {
    text-decoration: none;
    position: relative;
    display: table-cell;
    margin: 0px auto;
    z-index: 510;
    height: 30px;
    padding: 0px 15px; /*cant figure out how to make table columns autosize corrrectly- this is best work around*/
    text-align: center;
    line-height: 30px;
     
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #fcfcfc;
    text-shadow: 0 0 1px rgba(0,0,0,.35);
    white-space: nowrap;
 
    background: darkgreen;/*#372f2b;*/
    border-left: 0px solid lightslategray; /* #4b4441;*/
    border-right: 0px solid darkolivegreen; /*#312a27;*/
 
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

/*color change on hovering over a nav bar item*/
.gnav > li:hover > a { 
    background: darkolivegreen; 
    } /*old color*/

/*gives the first item in the navbar a radius?*/
.gnav > li:first-child > a {
    border-radius: 0px 0 0 3px;
    border-left: none;
}

.gnav > li:last-child > a {
    border-radius: 0px 3px 3px 0px;
    border-right: none;
}

/*controls drop down characteristics*/
.gnav > li > div {
    position: absolute;
    display: inline-block;
    width: 1064px;
    top: 190px; /*controls height where the hover banner in the navlabel shows up- currently a little broken should be pixel #*/
    margin: auto;
    left: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;
    overflow: hidden;
 
    background: #ffffff;
    border-radius: 0 0 3px 3px;
 
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.gnav > li:hover > div {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.gnav .nav-column {
    float: left;
    width: 20%;
    padding: 2.5%;
}

.gnav .nav-column ul {
    list-style: none;
}
 
.gnav .nav-column h3 a {
    margin: 20px 0 10px 0;
    line-height: 18px;
     
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
    text-decoration: none;
}
 
.gnav .nav-column li a {
    text-decoration: none;
    display: block;
    line-height: 26px;
     
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #888888;
}
 
.gnav .nav-column h3 a:hover {
    color: darkgreen;
    text-decoration: underline;
    ;}
.gnav .nav-column li a:hover { color: #666666; }
/*----------------------------------------------------------------*/